<!DOCTYPE html>
<html>
  <head>
    <title>Projets</title>
    <%= stylesheet_link_tag      'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <script>
      var current_access_token = '<%= current_access_token_cookie %>',
          current_user_id      = '<%= current_user_id %>',
          websockets_port      = '<%= ENV.fetch("WEBSOCKETS_PORT", 4433) %>';
    </script>
  </head>
  <body>
    <div id="sidebar">
      <div id="accounts"></div>
      <div id="projects"></div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag   'application' %>
  </body>
</html>
